<h3 style="padding-bottom:0.5em; text-align:center">
  Welcome!
</h3>
<div style="text-align:center">
  <p>
    Jungle is an e-Commerce site founded to help hipsters purchase overpriced consumer goods with fake credit cards.
  </p>
  <p>
    It features hipster-friendly descriptions, and all prices have an extra 0 on the end - guaranteed to make customers feel just a little bit more special.
  </p>
  <p>
    Lovingly created only days ago, Jungle relys on misleading IndieGoGo campaigns to keep the lights on.
  </p>
</div>
<h3 style="text-align:center">
  Enjoy!
</h3>